clj/**/pom.xml
clj/**/pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lsp/.cache
.clj-kondo/.cache
clj/data/
clj/target/
java/data/
java/target/
java/.classpath
java/.project
.settings/
*.~undo-tree~
.DS_Store
/data/
/resources/public/js/
/.shadow-cljs/
