<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- this pattern is easy to read: -->
      <pattern>%-5level %logger{36} - %msg%n</pattern>
      <!-- this pattern is more realistic, if you want it:
           <pattern>%d{ISO8601,UTC} [%thread] %-5level %logger{36} - %msg%n</pattern>
      -->
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
